{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="home-title">
        <h1 class="h1HomePage">Don't know what to watch ?</h1>
        <p>Wild Series is here to help!</p>
    </div>

    <h2>What's hot ? What others are watching !</h2>
        <a href="{{ path('show_program', { 'slug': "penny-dreadful" }) }}">
            Penny Dreadful
        </a>
    <h2>Have a preferred genre ? Search by category !</h2>
        {% for category in categories %}
        <a href="{{ path('show_category', { 'categoryName': category.name }) }}">
                {{ category.name }}<br>
        {% endfor %}
        </a><br><br>
        <p>Can't find the genre you're looking for ? <a href="{{ path('wild_addCategory') }}">Submit a new category !</a></p>
        <br>
        <a href="{{ path('wild_index') }}"><h2>Not picky ? See all shows !</h2></a>


    {# Carousel #}
</main>
{% endblock %}