{# templates/wild/season.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ program.title }} - Season {{ season.number }}</h1>
    <br>

    <h2>List of episodes :</h2>
    <br>
    {% for episode in episodes %}
       <a href="{{ path('show_episode', {'id': episode.id}) }}">Episode {{ episode.number }} : {{ episode.title }}</a><br>
    {% endfor %}
{% endblock %}
